extends layout

block content
  if error
    .alert=error

  form#create-form.create(method="post")
    input(type="text", name="text", placeholder="New task...", autocomplete="off")
    button(type="submit") Add

  ul#list.list
    each t in tasks
      include partials/task-item.pug
